{% extends "base_generic.html" %} 

{% block content %} 

{% if form.errors %} 
	<p>Ваше ім'я користувача та пароль не співпали. Будь ласка, спробуйте ще раз.</p> 
{% endif %} 

{% if next %}
	{% if user.is_authenticated %} 
		<p> Ви не маєте доступу до цієї сторінки. Увійдіть у систему з іншими параметрами</p> 
	{% else %} 
		<p> Увійдіть у систему, щоб побачити цю сторінку.</p> 
	{% endif %} 
{% endif %} 

<form method="post" action="{% url 'login' %}"> 
{% csrf_token %} 
<table> 
<tr> 
	<td>{{ form.username.label_tag }}</td> 
	<td>{{ form.username }}</td> 
</tr> 
<tr> 
	<td>{{ form.password.label_tag }}</td> 
	<td>{{ form.password }}</td> 
</tr> 
</table> 

<input type="submit" value="Bxoд"/> 
<input type="hidden" name="next" value="{{ next }}"/>
</form> 
 
{% comment %} Предполагается, что вы настроили представление password_reset в своем URLconf {% endcomment %}
<p><a href="{% url 'password_reset' %}">Втрачено пароль?</a></p> 
{% endblock %} 