{% extends "base_generic.html" %} 
{% block content %} 
<h1>Головна сторінка</h1> 
<p>Вітаємо в <em>Світі книг</em>, це дуже простий сайт, написаний на Django. Розроблено на Python
	як навчальний приклад з використанням Django</p> 
<h2>Динамічний контент</h2> 
<p>База даних сайту Світ книг містить таку
	кількість записів :</p> 
<ul> 
<li><strong>Кількість книг:</strong> {{ num_books }}</li> 
<li><strong>Кількість екземплярів книг: 
</strong> {{ num_instances }}</li> 
<li><strong>Кількість примірників книг у замовленні: 
</strong> {{ num_instances_available }}</li> 
<li><strong>Кількість авторів книг:
</strong> {{ num_authors }}</li> 
</ul>
<p>Кількість відвідувань цієї сторінки - {{num_visits}}</p>
{% endblock %} 